<div class="w-full flex flex-col text-center">
  
  <div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">or</span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>

  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name), class: "text-md hover:underline" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "text-md hover:underline" %>
  <% end %>
</div>
