<div class="w-3/4 md:w-1/2 mx-auto">
    <div class="flex flex-col w-full items-center">
      <h1 class="font-bold text-3xl mb-4">
        <%= link_to(redirect_path(@link.short_url), redirect_path(@link.short_url), data: { turbo: false }, class: "text-blue-900 hover:text-blue-800 hover:underline") %>
      </h1>
      <div class="flex flex-row gap-4 justify-between mb-6">
        <p class="text-lg text-slate-500"><%= @link.original_url %></p>
      </div>
      <%= render 'form' %>
    </div>
</div>
