<%= turbo_frame_tag("new_short_link") do %>
    <%= form_with(model: @link, class: "flex items-center gap-2 w-full") do |form| %>
      <div class="w-3/4">
          <%= form.text_field :original_url, placeholder: "Enter link here", class: "block bg-slate-100 shadow rounded-md w-full" %>
      </div>
      <div class="w-1/4">
          <%= form.submit "Shorten URL", class: "w-full rounded-lg p-2 bg-blue-900 hover:bg-blue-800 text-white font-medium cursor-pointer shadow" %>
      </div>
    <% end %>
<% end %>
