<div class="w-1/2 mx-auto">
    <div class="flex flex-col w-full items-center">
      <h1 class="font-bold text-4xl mb-12">Teeny URL shortener</h1>
      <%= form_with(model: @link, class: "flex items-center gap-2 w-full") do |form| %>
          <div class="w-3/4">
              <%= form.text_field :original_url, placeholder: "Enter link here", class: "block bg-slate-100 shadow rounded-md w-full" %>
          </div>
          <div class="w-1/4">
              <%= form.submit "Shorten URL", class: "w-full rounded-lg p-2 bg-blue-900 hover:bg-blue-800 text-white font-medium cursor-pointer shadow" %>
          </div>
      <% end %>
      <%= turbo_frame_tag("short_url_list", src: links_path) %>
    </div>
</div>

